@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', system-ui;
}

body{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    padding: 40px;
    border-radius: 20px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    box-shadow: 0 0 10px 2px #131313;
}
p.logo{
    background-color: #5e18ea;
    padding: 2px 4px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    box-shadow: 0 0 10px 2px #5e18ea;
}
a{
    color: #fff;
    text-decoration: underline 2px #5e18ea;
}
a:hover{
    text-decoration-color: #4719a7;
}
